extends layout

block content
  h1 Miguel Buntero
  section.css-table
    section.two-column
      section.cell
        h2 This is me
        img(src = "images/about/me.jpg")
        br
        br
        img(src = "images/about/me2.jpg")
      section.cell
        h2 A brief introductory about me
        p My name is Miguel Buntero (mdb9vb) and I am a second-year student at the University of Virginia studying Computer Science and Computer Engineering. I'm also a member of the Rodman Scholars Program and the Technology Leaders Program here at UVA. Outside of class, I take part in Engineering Student Council, on which I'm currently serving on the executive board as the Vice President; and I'm also an active member in Campus Crusade for Christ (or Cru for short), which is a Christian fellowhip for undergraduate students; and I also serve as treasurer for RideForward, a CIO here on Grounds that allows for undergraduate students interested in alternative fuels and energy projects to pursue that interest through hands-on experience. I'm currently an inactive member (but will be an active member in the Fall) in the Virginia Baja Racing team, which builds and races off-road vehicles in competitions involving hundreds of other colleges around the United States (I'm also in the process of building a website for them).
        p I currently live in Herndon, VA, which is about 25 miles west of Washington, D.C., and I have lived there since 1995. Before that, as a toddler I lived in Great Falls, VA. This fall, my family is moving to a farm Aldie, VA, which is in western part of Loudoun County, VA. It will be a sentimental time for me as I have lived in my current house for 19 years and have grown very fond of my room and the location of the house. Before UVA, I attended Thomas Jefferson High School for Science and Technology (TJHSST) in Alexandria, VA, from August 2008 to June 2012. While there, my favorite subjects were psychology, history, math, chemistry, computer science, and Latin. Notice that CS is listed further down the list -- this is because I identified it as an interest before entering my freshman year, but didn't pursue it until later in life as I found other things occupying my time and interest. I was also a member of the Indoor Track & Field team all four winter seasons, and a member of the Outdoor team all four spring seasons. I only ran Varsity during my freshman and sophmore years, though, as I had a kidney stone during my sophomore year that impacted my health and fitness enough to cause me to fall behind and to never recover fully to a point where I could achieve a Varsity letter again. Before TJ, I attended Nysmith School in Herndon, VA from pre-school through eighth grade. While there, I discovered my passions for math and science, but also for basketball, theater, and making friends.
        p This summer, I will be interning at The MITRE Corporation in McLean, VA in their Center for Advanced Aviation System Developtment (CAASD). While there, I hope to increase my currently set of CS skills, but also broaden my toolbox to other systems like MATLAB, Clojure, Hadoop, AngularJS, TinkerPop, and D3. Last summer, I interned at Progeny Systems Corporation in Manassas, VA, where I built a browser-based software tool for easily accessing certain parts of an existing database for use aboard Naval submarines (they are a sub-contractor of Lockeed Martin). Before that, I worked as an IT assitant at my high school during the summer after graduation, where I helped prepare 1,700 school computers for the 2012-2013 school year by performing network switch-port and patch panel documentation ad hub/drop assignments, new software and hardware upgrades, re-imaging machines, and cosntructing and installing specialized network cables. The summer before that, I interned through the Science and Engineering Apprenticeship Program (SEAP) at Analytic Services, Inc. (ANSER for short), where I worked as a systems engineer on a analysis schema for the Acquisition Program Management Division of the DHS to help more clearly identify how DHS systems are developed by their respective programs so that the desired capabilities may be provided for each program; this was done by addressing potential gaps and overlaps among program capabilities, thereby increasing the overall efficiency of the system.
        p In the future, after graduation in May 2016, I hope to work for a either a big computer and information technology company like Google, Microsoft, or a medium-sized one closer to home like Applied Predictive Technologies or Appian, or for smaller start-up companies, either businesses started by peers from UVA's Darden School of Business, firms out in Silicon Valley, or a start-up of my own. Once I have gathered enough experience, I hope to go back to pursue a graduate degree in a field of computer science (perhaps cryptography or human-computer interactions) and at that point I might be interested in purusing academia as a full-time profession. But only time will tell!
  br
  br
  br
  section.css-table
    section.three-column
      section.cell
        h3 Facebook
        p <a href="https://www.facebook.com/mike.bunting93">Mike Bunting</a>
      section.cell
        h3 LinkedIn
        p <a href="https://www.linkedin.com/in/mikebunting">Michael Bunting</a>
      section.cell
        h3 Github
        p <a href="https://github.com/mike-bunting">mike-bunting</a>