extends layout

block content
  h1  Mike's Garage
  section.css-table
    section.two-column
      section.cell
        h2 2001 Jeep Grand Cherokee Limited
        img(src = "images/cars/jeep01.jpg")
        br
        br
        br
        br
        br
        br
        br
        br
        h2 2007 Honda Ridgeline
        img(src = "images/cars/ridgeline07.jpg")
        br
        br
        br
        h2 2007 Honda Odyssey
        img(src = "images/cars/odyssey07.jpg")
        br
        br
        br
        h2 2009 Honda Element LX 4WD
        img(src = "images/cars/element09.jpg")
        br
        br
        br
        h2 2005 Chevrolet Corvette C6
        img(src = "images/cars/corvette05.jpg")
        br
        br
        br
        h2 1963 Chevrolet Corvette C2 Sting Ray Coupe
        img(src = "images/cars/corvette63.jpg")
      section.cell
        h2 About the Jeep
        p When I was in first grade, my dad bought this Jeep brand-new from our local Jeep dealer in Fairfax, VA, <a href="http://www.farrishdodgejeep.net/index.htm">Farrish of Fairfax</a>, which is still in business today. This particular Jeep was manufactured in October 2000 by DaimlerChrysler AG (previously just 'Chrysler Corporation', now 'Chrysler Group LLC') in the Jefferson North Assembly assembly factory in Detroit, MI. This Jeep has the Limited trim (as opposed to the Laredo), and has a 4x4 drivetrain for all-terrain capability. It has a powerful 4.7-liter V8 engine with a 4-speed automatic transmission, and has a max horse power of 195 hp @ 4600 RPM for a fuel economy of 14/19 MPG. It also has 'Quadra Drive' (I know this because it has a plaque on the back hatch which says so), and after some research I discovered this means that this refers to the 4WD aspect of the car, and basically means that because of its use of speed-sensing torque transfer devices, i can make maximum use of traction, and thus has outstanding control in severe driving conditions (this <a href="http://www.youtube.com/watch?v=0PmxnShlfZI">YouTube video</a> describes the concept nicely). In other words, even if only one wheel has traction, the Jeep will transfer the torque of the one functional wheel to the other wheels that lack traction to keep moving forward! (Though after further resarch online, many people list Quadra Drive as a con... more details to come).
        p Anyways, enough of the stats, and now for a brief history. So my dad used this Jeep as a commuter car from 2001 to 2006, at which time he purchased a brand-new 2007 Honda Ridgeline truck (see below). As a result, he gave the Jeep to my maternal grandpa, who lived about 45 minutes south of Cinncinnati, OH on a farm in Walton, KY (which is why I call him KY Grandpa). Since KY Grandpa (and my grandma, whom I called KY Grandma) only lived there during the summer months, they only drove the Jeep from April to September, and kept it idle in a garage from October to March. Though it was registered with KY plates, my grandpa used the Jeep primarily for farm work since he already had a 1994 Jeep Grand Cherokee Laredo for commuting to town for errands (he retired in 2002). When KY Granpda passed away in February 2012, my dad got the car back. Since I left for college in August 2012, my dad had a spare car sitting around and decided to let me bring to down to Charlottesville. It has been incredibly convenient having the Jeep in college, but since it sat in a garage half of each year from 2006 to 2012, it does have some problems occasionally -- but on the plus side, it only just recently broke 80,000 miles! For a 13-year-old car, this is very much below the average of 156,000 miles (assuming 12,000 miles per year, which is a low estimate).
        h2 About the Ridgeline
        p Description coming soon.
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        h2 About the Odyssey
        p Description coming soon.
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        h2 About the Element
        p Description coming soon.
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        h2 About the C6
        p Description coming soon.
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        h2 About the Sting Ray
        p Description coming soon.

  section.css-table
    section.three-column
      section.cell
        h3 Etiam lobortis
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
      section.cell
        h3 Phasellus lacus
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
      section.cell
        h3 Aliquam vulputate
        p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
