extends layout

block content
   h1 My Gaming Systems
   section.css-table
    section.two-column
      section.cell
        h1 Nintendo 64 (1996)
        h2 Banjo Kazooie
        img(src="images/games/banjo-kazooie.jpg")
        <br /><br />
        h2 Donkey Kong 64
        img(src="images/games/donkey-kong-64.jpg")
        <br /><br />
        h2 Kirby 64: The Crystal Shards
        img(src="images/games/kirby-64.jpg")
        <br /><br />
        h2 The Legend of Zelda: Ocarina of Time
        img(src="images/games/oot.jpg")
        <br /><br />
        h2 Mario Golf
        img(src="images/games/mario-golf.jpg")
        <br /><br />
        h2 Mario Kart 64
        img(src="images/games/mario-kart-64.png")
        <br /><br />
        h2 Paper Mario
        img(src="images/games/paper-mario.jpg")
        <br /><br />
        h2 Pokemon Puzzle League
        img(src="images/games/pokemon-puzzle-league.jpg")
        <br /><br />
        h2 Pokemon Snap
        img(src="images/games/pokemon-snap.jpg")
        <br /><br />
        h2 Pokemon Stadium
        img(src="images/games/pokemon-stadium.jpg")
        <br /><br />
        h2 Star Fox 64
        img(src="images/games/star-fox-64.jpg")
        <br /><br />
        h2 Super Mario 64
        img(src="images/games/super-mario-64.jpg")
        <br /><br />
        h2 Super Mash Bros.
        img(src="images/games/super-smash-bros.jpg")
        <br /><br />
        h2 Tetrisphere
        img(src="images/games/tetrisphere.jpg")
        <br /><br />
        h2 Tony Hawk's Pro Skater
        img(src="images/games/thps.jpg")
        <br /><br />
        h2 Yoshi's Story
        img(src="images/games/yoshis-story.jpg")
        <br /><br /><br /><br /><br />
        h1 Sony Playstation (1995)
        h2 Digimon World
        img(src="images/games/digimon-world.jpg")
        <br /><br /><br /><br /><br />
        h1 Microsoft Xbox (2001)
        h2 Halo 2
        img(src="images/games/halo-2.jpg")
        <br /><br /><br /><br /><br />
        h1 Nintendo Gamecube (2001)
        h2 Luigi's Mansion
        img(src="images/games/luigis-mansion.jpg")
        <br /><br /><br /><br /><br />
        h1 Sony Playstation 2 (2000)
        h2 Time Crisis 3
        img(src="images/games/time-crisis-3.jpg")
        <br /><br /><br /><br /><br />
        h1 Microsoft Xbox 360 (2005)
        h2 Halo 3
        img(src="images/games/halo-3.jpg")
        <br /><br /><br /><br /><br />
        h1 Nintendo Wii (2006)
        h2 Super Smash Bros. Brawl
        img(src="images/games/brawl.jpg")
        <br /><br /><br /><br /><br />
        h1 Microsoft Xbox One (2013)
        h2 Call of Duty: Ghosts
        img(src="images/games/cod-ghosts.jpg")
      section.cell
        <br /> <br /> <br /> <br /> <br />
        h2 About N64
        p No description of the N64 which I could surmise could ever fully capture the essence of how awesome a gaming system the N64 truly is. In fact, because I could not contain my excitement for the gaming console, I decided to do a 'Top 15' instead of a 'Top 1' favorite games for the N64, so you can expect this section to be much longer. The top games I have selected were due to a number of factors: playability, watchability, and experience. The first factor measures how well the game flows: Will I throw my controller in anger at the TV due to not knowing how to proceed (note when I played these games my house did not have Internet yet)? Will it take a combination of skill and persistence to get through this next part? The second factor measures how much enjoyment I can get out of just watching someone else play it (since I was only a toddler in 1996 when the N64 debuted, I watched my dad play a lot of games). The third factor deals with the overall experience of the game: Was it fun? Would I play it again and still have a different or more enjoyable experience? Can the game be easily learned? Does it offer an addictng multi-player component? Without further adieu, I give you my top 15 games. I do not write anything for each one or else you would be sitting here for hours reading through each one.
        p Other considerations: Bomberman 64, Chameleon Twist, Cruis'n Exotica, Diddy Kong Racing, Dr. Mario 64, F-Zero X, Glover, Hot Wheels Turbo Racing, The Legend of Zelda: Majora's Mask, LEGO Racers, Mario Party, Mario Party 2, Mario Party 3, Pokemon Stadium 2, Star Wars Episode I: Racer. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About Playstation
        p Description coming soon.
        p Other considerations: Monster Rancher Hop-A-Bout, Spyro: The Dragon, Spyro 2: Ripto's Rage, Spyro: Year of the Dragon, X-Men vs. Street Fighter, Yu-Gi-Oh! Forbidden Memories. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About Xbox
        p Description coming soon.
        p Other considerations: Blood Wake, Brute Force, Burnout Revenge, The Elder Scrolls III: Morrowind, Fuzion Frenzy, Godzilla Destroy All Monsters Melee, Halo: Combat Evolved, MechAssault, MechAssault 2: Lone Wolf, NFL Street, NFL Street 2, RalliSport Challenge 2, Star Wars: Battlefront, Star Wars: Battlefront II, Wings of War. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About Gamecube
        p Description coming soon.
        p Other considerations: Kirby Air Ride, Te Legend of Zelda: Four Swords Adventures, The Legend of Zelda: The Wind Waker, Pokemon Colosseum, Sonic Heros, Super Mario Sunshine, Super Monkey Ball, Super Monkey Ball, Super Smash Bros. Melee, Yu-Gi-Oh! The Falsebound Kingdom. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About Playstation 2
        p Description coming soon.
        p Other considerations: Dragon Ball Z: Budokai 2, Dragon Ball Z: Budokai Tenkaichi, Tony Hawk's Pro Skater 3. More considerations coming soon. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About Xbox 360
        p Description coming soon.
        p Other considerations: Burnout Paradise, Call of Duty: Black Ops, Call of Duty: Black Ops II, Call of Duty: Modern Warfare, Call of Duty: Modern Warefare 2, Call of Duty: Modern Warfare 3, Call of Duty: World at War, Halo Wars, Halo: Reach. More considerations coming soon. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About Wii
        p Description coming soon.
        p Other considerations coming soon. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About XBone
        p Description coming soon.
        p Other considerations coming soon.