extends layout

block content
  h1  Welcome to Miguel Buntero's CS 1501: Node.js Final Website!
  section.css-table
    section.two-column
      section.cell
        h1 What is this?
        h2 This is a website I created (with the help of many Google searches and some already existing Github site frameworks) for a final project for the course CS 1501: Web Development with Node.js during the Spring 2014 semester under the leadership of Michael Paris. In this course, I learned how to use Node.js for the first time, as well as some of its modules (MongoDB, Jade, Stylus, Mocha, Express, Logfmt) to create simple but awesome websites. This is my creation. Hope you enjoy! (all one of you).
      section.cell
        h1 Who will look at this?
        h2 That's a really good question. I'll probably just send the link to this site out to my relatives so they can keep up with my life. I'm not expecting any important recognition coming out of this website -- it merely serves as a place for me to place updates about things I find interesting (so I guess you could call it a blog?).