!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/simplicity-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li
            a(href="/projects") Projects
          li
            a(href="/cars") Cars
          li
            a(href="/games") Games
          li 
            a(href="/about") About
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p (c) 2014 Mike Bunting <br /> CS 1501 Spring 2014 <br/> Final Website
            section.cell
              p 大头大头 <br /> 下雨不愁 <br /> 你有雨伞 <br /> 我有大头
            section.cell
              p Big head, big head <br /> When it rains, I'm not scared <br /> You have an umbrella <br /> But I have a big head.
            section.cell
              p Philippians 4:6-7 <br /> "Do not be anxious about anything, but in every situation, by prayer and petition, with thanksgiving, present your requests to God. And the peace of God, which transcends all understanding, will guard your hearts and your minds in Christ Jesus."