extends layout
 
block content
  h1 Current Projects
  section.css-table
    section.two-column
      section.cell
        h2 Greenhouse (Spring 2014)
        img(src="images/projects/greenhouse.jpg")
        <br /><br /><br />
        h2 Android App: DressUp! (2013-present)
        img(src="images/projects/dressup.png")
        <br /><br /><br />
        h2 Android App: AsPlanned! (2013-present)
        img(src="images/projects/asplanned.png")
      section.cell
        h2 About the Greenhouse
        p For my SYS 2502 class this past semester, Introduction to Electromechanical Systems, my project was to design a system that could maintain a set temperature, and have all the data collection (and setpoint functionality) all controllable via the internet. The system was also designed to simulate future expected behavior to determine whether or not the greenhouse is not functioning properly or has been tampered with. I have no picture of any of the projects components, so the picture at left is just of an ordinary, pleasant-looking greenhouse (though it is the same exact greenhouse, made by IKEA). The project involved Arduino, PHP, MySQL, and Javascript (including HighCharts).
        p More details coming soon. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About DressUp!
        p I wrote this app for a friend who wanted to keep track of her clothes from a easy, portable location. For example, when shopping she can use the app to determine what she already owns, what it looks like (via a small picture of the actual object she took with the camera's phone), how much it cost and when and where she bought it from. This way, she can prevent herself from buying something very similar to something she already owns. The app also saves 'outfits' which are combinations of a top, bottom, shoes, accessories, and outerwear so she can see what goes good with what. The app allows her to browse her clothes (or outfits containing certain clothes) by attributes of each type (i.e., search for red tops, shoes that cost less than $20, or all jeans bought before June 2012 with a size of 4 or smaller. The project involved Android development.
        p More details coming soon. <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        h2 About AsPlanned!
        p This app is just a simple tool that I designed for exclusive use between me and my friends who enjoy playing billiards together. It keeps track of player's stats, including how many games we've played, who won each game (and by how much, and when each game is played with a graph over time of the wins vs. losses. Really just a fun and easy way to make games more interesting with friends. The name comes from the fact that when we play each game, usually one player will make an absurdely good shot that was unintentional, however we will always say "That shot went as planned!" even though it clearly wasn't. The app counts how many "as-planned" moments occur each game so we can mock whomever relies the most on miraclulous spouts of luck. The project involved Android development.
        p More details coming soon.